
<div class="" style="width: 100%;">

    <footer class="text-center text-white" style=" width: 100%; background-color: #F99244" >
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/ahmed.3adel22" target="_blank" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/Ahmdspace"  target="_blank"role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/ahmed-adel-1976b51a2/" target="_blank" role="button"><i
                        class="fab fa-linkedin-in"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/ahmadel1" target="_blank" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
        </div>

        <div class="text-center p-3 " style=" width: 100%; background-color: rgba(32, 32, 32, 0.2); width: 100%;">
            Copyright © 2023 Ahmed Adel. All rights reserved.

        </div>
    </footer>

</div>

