<%- include("partials/header"); -%>

    <body>

        <% if(userNotFound == true){%>
            <div class="container"> 
                <div class="alert alert-danger " role="alert" style="text-align: center;">
                    User not found, Please Enter a valid Username 
                </div>
            </div>
        <%}%>
        
        <form action="/" method="post">
            <div class="centered">
                <div class="search">
                    <input type="text" name="userHandle" placeholder="User Handle">
                    <button type="submit" name="button">
                        <label for="search">GO</label>
                        <span class="search-icon"></span>
                    </button>
                </div>
            </div>
        </form>
        <div style="height: 20%;">
            <%- include("partials/footer"); -%>
        </div>




    </body>

    </html>